<div class="main-game-container">
    <div class="play-game-container">
        <div class="score-text">Score: {{score}}</div>
        <div class="game-grid-container" [ngClass]="{'wall-hit': wallHit}">
            <div *ngFor="let cell of grid; let i = index" class="{{getCellType(i)}}"></div>
        </div>
    </div>
</div>
<div class="gameOver-overlay" *ngIf="gameOver">
    <div class="gameOver-container">
        <h1>Game over</h1>
        <a routerLink="/highScores">continue</a>
    </div>
</div>