.main-game-container{
    display: grid;
    height: 100%;
    align-content: center;
}

.play-game-container{
    display: grid;
    grid-template-rows: auto 1fr;
    justify-content: center;
    align-items: end;
    align-content: center;
    margin: 0 auto;
}

.game-grid-container{
    display: grid;
    grid-template-columns: repeat(40, 1rem);
    grid-template-rows: repeat(40, 1rem);
}

.wall-hit{
    border: 1px solid red;
}

.score-text{
    text-align: end;
    font-size: 2rem;
}

.empty{
    background-color: black;
}
.fruit{
    background-color: red;
    animation-name: fruitPulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.head{
    background-color: blue;
}
.body1{
    background-color: #00ff00;
}
.body2{
    background-color: #00c800;
}
.body3{
    background-color: #009600;
}

@keyframes fruitPulse{
    0%{
        background-color: #220000;
    }
    50%{
        background-color: red;
    }
    100%{
        background-color: #220000;
    }
}

.gameOver-overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.gameOver-container{
    display: grid;
    grid-template-rows: auto 1fr;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
}